%h1= @movie.title
.jumbotron
  %img.img-rounded{ src: @movie.cover, style: 'max-width:150px' }
  %hr
  %p= @movie.description
  %p= @movie.genre.name
  %h3 Rating 
  = @movie.download_info['rating']
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'

%section.section.comments
  .container
    .comment-form
      %hr/
      = render 'comments/form'

  %hr/  
  .container
    %strong Last comments:
  %br
    %table.table.table-striped.table-comments{:style=>"border: 1px; width: 100%"}
      %thead
        %tr
          %th Author
          %th Body
          %th{:colspan => "2"}
      %tbody
        - @movie.comments.each do |comment|
          %tr
            %td= comment.author
            %td= comment.body
            %td= link_to 'Edit', edit_comment_path(comment)
            %td= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }